---
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body class="front-page">
    <header>
      <h1>Militant History</h1>
    </header>

    <main>
      <h2>About</h2>
      <p>
        <b>Militant History</b> will print historical documents &ndash;
        newspapers, pamphlets, books, and articles &ndash;
        from the Committee for a Workers’ International (<abbr>CWI</abbr>),
        from its founding in 1974 to the formation of the
        <a rel="external" href="https://internationalsocialist.net">International Socialist Alternative</a>
        (<abbr>ISA</abbr>) in 2020.
        Our goal is to digitize and re-publish literature which is unavailable online,
        and to provide a convenient index for
        <abbr>CWI</abbr> material.
      </p>

      <h2><cite>Labor Militant</cite></h2>
      <p>
        Have you read <b><cite>Labor Militant</cite></b>?
        This semi-monthly newspaper ran from 1986 to 1997.
        It features US, international, and labor news and history;
        interviews, activist dispatches, media reviews, socialist theory,
        and letters to the editor.
      </p>
      <p>
        Its publisher, the political organization also called
        <b>Labor Militant</b>,
        became <a rel="external" href="https://www.socialistalternative.org">Socialist Alternative</a> in 1999.
      </p>
      <p>
        Learn more about <a href="/lm/#the-group">the group</a>
        or <a href="/lm/#the-newspaper">the newspaper</a>;
        browse the <a href="/tags/">tag index</a>
        or read <a href="/lm/#available-issues">entire issues</a>:
      </p>
      {% include lm-table.html %}

    </main>

    {% include footer.html %}
  </body>
</html>