<head>
  <meta charset="UTF-8">

  {% assign page_title = layout.title | default: page.title| replace: '!!page.slug!!', page.slug %}
  <title>{{ page_title }}{% if layout.bare_title != true and page.bare_title != true %}{% if page_title != empty %} | {% endif %}{{ site.title }}{% endif %}</title>

  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/fonts.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/favicon.png">

  <script src="/scripts/fontfaceobserver.standalone.js"></script>
  <script src="/scripts/textbalancer.standalone.js"></script>
  <script src="/scripts/militanthistory.js"></script>
</head>