<nav class="breadcrumb">
  <ul>
  {% if previous_issue %}
    <li>
      ← <a rel="prev" href="{{ previous_issue.url }}">Issue {{ previous_issue.lm_issue }}
      {% assign proper_date = previous_issue.date | date_to_long_string %}
      ({{ previous_issue.reported_date | default: proper_date }})</a>
    </li>
  {% endif %}

    <li>↥ <a href="/lm/">Index</a></li>

  {% if next_issue %}
    <li>
      <a rel="next" href="{{ next_issue.url }}">Issue {{ next_issue.lm_issue }}
      {% assign proper_date = next_issue.date | date_to_long_string %}
      ({{ next_issue.reported_date | default: proper_date }})</a> →
    </li>
  {% endif %}
  </ul>
</nav>
