<figure>
<table class="pure-table pure-table-striped">
  <caption>
    <cite>Labor Militant</cite><br>
    {{ site.lm_issues | size }} of 51 issues available
  </caption>

  <thead>
    <tr>
      <th>No.</th>
      <th>Title</th>
      <th>Date</th>
      <th aria-label="Number of articles transcribed"
               title="Number of articles transcribed">
        Tr.
      </th>
    </tr>
  </thead>

  <tbody>
    {% for issue in site.lm_issues %}
      {% assign proper_date = issue.date | date_to_long_string %}
      {% assign num_articles = site.lm_articles | where_exp: "a", "a.lm_issue == issue.lm_issue" | size %}
      <tr>
        <td>{{ issue.lm_issue }}</td>
        <td><a href="{{ issue.url }}">{{ issue.subtitle }}</a></td>
        <td>{{ issue.reported_date | default: proper_date | replace: '/', '/<wbr>' }}</td>
        <td>{{ num_articles }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</figure>