$background-color: #ffffff;
$text-color: #000000;
$brand-color: #af1b1a;
$heading-color: #3a1422;
$link-color: #3a1422;
$strong-color: #980043;
$weak-color: #555555;
$highlight-color: #fff0f0;

body {
  background: $background-color;
  color: $text-color;
}

h1, h1 a:link, h1 a:visited {
  color: $brand-color;
}

h2, h3 {
  color: $heading-color;
}

a:link {
  color: $link-color;
}

a:visited {
  color: $text-color;
}

strong, .author-info, .caption {
  color: $strong-color;
}

footer, .byline, .tags {
  color: $weak-color;
}