$line-height: 1.5rem;

$medium-breakpoint: 600px;
$large-breakpoint: 800px;

$minimum-width: 24em;
$preferred-width: 32em;

html {
  font-size: 100%;
  line-height: $line-height;
}

body {
  padding: 0 0.5em;
  margin: 0 auto;

  max-width: $preferred-width; 
}

@supports (display: grid) {
  html {
    display: grid;
  }

  body {
    margin: 0;
  }

  @media (min-width: $medium-breakpoint) {
    html {
      font-size: 150%;
      grid-template-columns: 1fr minmax($minimum-width, $preferred-width) 4fr;
    }

    body {
      grid-column: 2;
    }
  }

  @media (min-width: $large-breakpoint) {
    html {
      font-size: 125%;
    }
  }
}