---
layout: default
---

{% assign issue = site.lm_issues | where_exp: "i", "i.lm_issue == page.lm_issue" | first %}
{% assign proper_date = issue.date | date_to_long_string %}

<meta property="og:title" content="{{ page.title }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:type" content="article">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:description" content="{{ content | markdownify | strip_html | truncate: 280 }}">

<meta property="article:published_time" content="{{ issue.date }}">
{% if page.author %}
  <meta property="article:author" content="{{ page.author }}">
{% endif %}

<meta property="twitter:site" content="@MilitantHistory">

{% if page.lead_image %}
  <meta property="og:image" content="{{ site.url }}{{ page.url }}{{ page.lead_image.path }}">
  <meta property="og:image:alt" content="{{ page.lead_image.alt }}">
  <meta property="og:image:width" content="{{ page.lead_image.width }}">
  <meta property="og:image:height" content="{{ page.lead_image.height }}">
  <meta property="twitter:card" content="summary_large_image">
{% else %}
  <meta property="twitter:card" content="summary">
{% endif %}

<article{% if page.lang %} lang="{{ page.lang }}"{% endif %}>
  <header>
    <h2>{{ page.html_title | default: page.title }}</h2>
    <div class="byline balance-text">
      {% if page.author %}<p>By {{ page.author }}.</p>{% endif %}

      <p>
        In <a href="/lm/"><cite>Labor Militant</cite></a>,
        <a href="{{ issue.url }}#articles">no. {{ issue.lm_issue }}</a>{% if page.location %}, {{ page.location }}.{% endif %}
      </p>

      <p>Published {{ issue.reported_date | default: proper_date }}.</p>
    </div>
  </header>

  {% if page.lead_image %}
    <figure>
      <img
        alt="{{ page.lead_image.alt }}"
        src="{{ page.lead_image.path }}"
        width="{{ page.lead_image.width }}"
        height="{{ page.lead_image.height }}">

      {% if page.lead_image.caption %}
        <figcaption>{{ page.lead_image.caption | markdownify }}</figcaption>
      {% endif %}
    </figure>
  {% endif %}

  {{ content }}

  {% if page.tags %}
  <nav class="tags">
    Filed under:
    <ul>
      {% assign sorted_tags = page.tags | sort %}
      {% for tag_name in sorted_tags %}
        {% assign tag = site.data.tags | where: 'name', tag_name | first %}
        <li><a href="/lm/tags/#{{ tag.name }}">{{ tag.title | default: tag.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}

  <nav class="breadcrumb">
    <ul>
      <li><a class="pure-button" href="/lm/">↥↥ <cite>Labor Militant</cite></a></li>
      <li><a class="pure-button" href="{{ issue.url }}#articles">↥ Issue&nbsp;{{ issue.lm_issue }}</a></li>
    </ul>
  </nav>
</article>
