---
layout: default
bare_title: true
---

<article>
  <header>
    <h2><cite>{{ page.html_title | default: page.title }}</cite></h2>
    <p class="byline">
      By <span class="author">{{ page.author }}</span>.
      Published <span class="date">{{ page.date | date_to_long_string }}</span>.
    </p>
  </header>

  {{ content | smartify }}

  <nav>
    <h3>Table of contents</h3>
    <ul>
      {% assign chapters = site.chapters | where: "book", page.book | sort: "chapter_number" %}
      {% for chapter in chapters %}
        <li><a href="{{ chapter.url }}">{{ chapter.html_title | default: chapter.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</article>
