---
layout: default
bare_title: true
---

{% assign book = site.books | where: "book", page.book | first %}
{% assign book_chapters = site.chapters | where: "book", page.book %}
{% assign previous_number = page.chapter_number | minus: 1 %}
{% assign previous_chapter = book_chapters | where_exp: "c", "c.chapter_number == previous_number" | first %}
{% assign next_number = page.chapter_number | plus: 1 %}
{% assign next_chapter = book_chapters | where_exp: "c", "c.chapter_number == next_number" | first %}

<article>
  <header>
    <h2><a href="{{ book.url }}"><cite>{{ book.html_title | default: book.title }}</cite></a></h2>
  </header>

  {% include chapter-nav.html previous_chapter=previous_chapter next_chapter=next_chapter %}

  <h3>{{ page.html_title | default: page.title }}</h3>

  {{ content }}

  {% include chapter-nav.html previous_chapter=previous_chapter next_chapter=next_chapter %}
</article>
