---
layout: default
---

{% assign issue = site.lm_issues | where_exp: "i", "i.lm_issue == page.lm_issue" | first %}
{% assign proper_date = issue.date | date_to_long_string %}

<article{% if page.lang %} lang="{{ page.lang }}"{% endif %}>
  <header>
    <h2>{{ page.html_title | default: page.title }}</h2>
    <div class="byline">
      {% if page.author %}<p>By <span class="author">{{ page.author }}</span>.</p>{% endif %}

      <p>
        In <a href="/lm/#available-issues"><cite>Labor Militant</cite></a>,
        <a href="{{ issue.url }}#articles">no. {{ issue.lm_issue }}</a>{% if page.location %}, {{ page.location }}.{% endif %}
      </p>

      <p>Published <span class="date">{{ issue.reported_date | default: proper_date }}</span>.</p>
    </div>
  </header>

  {{ content }}

  {% if page.tags %}
  <nav class="tags">
    Filed under:
    <ul>
      {% assign sorted_tags = page.tags | sort %}
      {% for tag_name in sorted_tags %}
        {% assign tag = site.data.tags | where: 'name', tag_name | first %}
        <li><a href="/tags/#{{ tag.name }}">{{ tag.title | default: tag.name }}</a></li>
      {% endfor %}
    </ul>
  </nav>
  {% endif %}

  <nav class="breadcrumb breadcrumb-article">
    <ul>
      <li data-href="/lm/#available-issues">« <a href="/lm/#available-issues"><cite>Labor Militant</cite></a></li>
      <li data-href="{{ issue.url }}#articles">« <a href="{{ issue.url }}#articles">Issue&nbsp;{{ issue.lm_issue }}</a></li>
    </ul>
  </nav>
</article>
