---
layout: default
title: "‘Labor Militant’, no. !!page.slug!!"
---
{% assign previous_number_calc = page.lm_issue | minus: 1 %}
{% assign previous_number = page.previous_issue | default: previous_number_calc %}
{% assign previous_issue = site.lm_issues | where_exp: "i", "i.lm_issue == previous_number" | first %}
{% assign next_number_calc = page.lm_issue | plus: 1 %}
{% assign next_number = page.next_issue | default: next_number_calc %}
{% assign next_issue = site.lm_issues | where_exp: "i", "i.lm_issue == next_number" | first %}

<article>
  <header>
    <h2>
      <cite>Labor Militant</cite> &ndash; Issue&nbsp;{{ page.slug }}
    </h2>

    {% if page.subtitle %}<p class="subtitle">The “{{ page.subtitle }}” issue</p>{% endif %}

    {% assign proper_date = page.date | date_to_long_string %}
    <p class="byline">
      Published <span class="caps">{{ page.reported_date | default: proper_date }}</span>.
    </p>
  </header>

  {% include lm-article-nav.html previous_issue=previous_issue next_issue=next_issue %}

  {% if page.cover %}
    <figure>
      <img alt="Cover" src="{{ page.cover | uri_escape }}"
      {% if page.cover_width %} width="{{ page.cover_width }}" {% endif %}
      {% if page.cover_height %} height="{{ page.cover_height }}" {% endif %}>
    </figure>
  {% endif %}

  {% if page.pdf or page.djvu or page.txt %}
  <details>
    <summary><h3>Download full issue</h3></summary>
    <ul>
    {% if page.pdf %}
      <li><a rel="alternate" type="application/pdf" href="{{ page.pdf | uri_escape }}"><abbr>PDF</abbr> scan</a></li>
    {% endif %}
    {% if page.djvu %}
      <li><a rel="alternate" type="image/vnd.djvu" href="{{ page.djvu | uri_escape }}">DjVu scan</a></li>
    {% endif %}
    {% if page.txt %}
      <li><a rel="alternate" type="text/plain" href="{{ page.txt | uri_escape }}">Plain text from <abbr>OCR</abbr></a></li>
    {% endif %}
    </ul>
  </details>
  {% endif %}

  {{ content }}

  {% include lm-article-nav.html previous_issue=previous_issue next_issue=next_issue %}
</article>
