---
layout: default
title: "‘Labor Militant’, no. !!page.slug!!"
---
{% assign previous_number_calc = page.lm_issue | minus: 1 %}
{% assign previous_number = page.previous_issue | default: previous_number_calc %}
{% assign previous_issue = site.lm_issues | where_exp: "i", "i.lm_issue == previous_number" | first %}
{% assign next_number_calc = page.lm_issue | plus: 1 %}
{% assign next_number = page.next_issue | default: next_number_calc %}
{% assign next_issue = site.lm_issues | where_exp: "i", "i.lm_issue == next_number" | first %}

<article>
  <header>
    <h2>
      <a href="{{ page.url }}">
        <cite>Labor Militant</cite>, no.&nbsp;{{ page.lm_issue }}
        {% if page.subtitle %}[{{ page.subtitle }}]{% endif %}
      </a>
    </h2>

    {% assign proper_date = page.date | date_to_long_string %}
    <p class="byline">
      Published <span class="date">{{ page.reported_date | default: proper_date }}</span>.
    </p>
  </header>

  {% include lm-article-nav.html previous_issue=previous_issue next_issue=next_issue %}

  {% if page.cover %}
    <figure>
      <img alt="Cover" src="{{ page.cover | uri_escape }}"
      {% if page.cover_width %} width="{{ page.cover_width }}" {% endif %}
      {% if page.cover_height %} height="{{ page.cover_height }}" {% endif %}>
    </figure>
  {% endif %}

  {% if page.pdf or page.djvu %}
  <nav class="breadcrumb">
    <ul>
    {% if page.djvu %}
      <li>↴ <a href="{{ page.djvu | uri_escape }}">Download DjVu</a></li>
    {% endif %}
    {% if page.pdf %}
      <li>↴ <a href="{{ page.pdf | uri_escape }}">Download <abbr>PDF</abbr></a></li>
    {% endif %}
    </ul>
  </nav>
  {% endif %}

  {{ content }}

  {% include lm-article-nav.html previous_issue=previous_issue next_issue=next_issue %}
</article>
