---
---
@import "fonts.scss";

html {
  display: flex;
  justify-content: space-around;

  font-size: 18px;
  line-height: 1.5em;
}

body {
  font-family: $body-text-stack;
}

body {
  width: 100%;
  padding: 0 0.5em;
  margin: 0;
  max-width: 32em;
  background: #fff;
  font-variant-numeric: oldstyle-nums;
}

table {
  font-variant-numeric: lining-nums;
}

header, footer, main {
  margin: 3rem 0 1.5rem 0;
}

footer p, footer ul, footer li {
  display: inline;
}

footer ul {
  padding: 0;
}

footer li::after {
  content: " | ";
}

footer li:last-child::after {
  content: none;
}

h1, h2, h3, h4, header p {
  margin: 0;
  line-height: 1.5rem;
}

h2, .subtitle {
  word-spacing: 1pt;
  letter-spacing: 0.25pt;
}

h3, thead {
  font-family: $subheading-font-stack;
}

.author-info {
  font-weight: bold;
}

.subtitle {
  font-weight: normal;
  line-height: 3rem;
  display: inline;
}

p.subtitle {
  font-size: 2rem;
  font-style: italic;
  text-align: left;
}

h1, article h2 {
  margin: 0;
  font-size: 200%;
  line-height: 3rem;
}

h1, article h2 {
  font-family: $heading-font-stack;
}

.small-header h1 {
  margin: -3rem 0 0 0;
  font-size: 100%;
  line-height: 1.5rem;
  font-weight: 900;
}

h2, h3, h4, ul, ol, li, p {
  margin: 1.5rem 0;
  line-height: 1.5rem;
}

main p {
  hyphens: auto;
  hyphenate-limit-last: always;
}

main header p {
  hyphens: none;
  text-align: left;
}

em em, cite cite {
  font-style: normal;
}

h1,
h1 a,
h1 a:link,
h1 a:visited {
  color: #af1b1a;
}

*:target {
  animation: highlight 5s ease;  
}

@keyframes highlight {
  0% { background: #ffb6c1; }
  100% { background: rgba(0, 0, 0, 0); }
}

a:link {
  color: #295e89;
}

strong,
.author-info,
.caption {
  color: #980043;
}

h2, h3 {
  color: #3a1422;
}

footer, .byline, .tags {
  color: #555555;
}

header p p {
  margin: 0.375em 0;
}

.tags ul {
  display: inline;
  list-style: none;
  padding: 0;
}

.tags li {
  display: inline-block;
  margin: 0;
}

.tags li::after {
  content: ", ";
}

.tags li:last-child::after {
  content: none;
}

.lead {
  font-size: 125%;
}

.lead, blockquote.lead p {
  line-height: 3rem;
}

blockquote.lead {
  margin: 0;
  font-style: italic;
}


a:visited {
  color: #000;
}

a {
  text-decoration-thickness: 0.1em;
}

p abbr,
li abbr,
td abbr,
.drop-cap,
.caps {
  font-family: $small-caps-stack;
}

p abbr,
li abbr,
td abbr,
.drop-cap,
.caps {
  letter-spacing: 1pt;
  margin-right: -0.5pt;
  font-variant-caps: all-small-caps;
}

.drop-cap {
  font-variant-caps: small-caps;
}

body.small-caps-font-loaded p abbr,
body.small-caps-font-loaded li abbr,
body.small-caps-font-loaded td abbr,
body.small-caps-font-loaded .drop-cap,
body.small-caps-font-loaded .caps,
body.small-caps-font-loaded .all-caps {
  font-variant-caps: unset;
  letter-spacing: unset;
  margin-right: unset;
}

body.small-caps-font-loaded p abbr,
body.small-caps-font-loaded li abbr,
body.small-caps-font-loaded td abbr,
body.small-caps-font-loaded .all-caps {
  text-transform: lowercase;
}

.drop-cap__initial {
  display:block;
  float: left;
  text-transform: initial;
  margin: 0.25em 0.125em;
  font-size: 300%;
}

.breadcrumb ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumb li {
  margin: 0.75rem 0.25em;
}

summary {
  margin: 0;
}

figure {
  margin: 1.5rem -0.5em;
}

figcaption {
  padding: 0 2em;
  margin: -0.75em 0 -0.75em auto;
}

figure img {
  margin: 1em 0 0.5em 0;
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

ul, ol {
  padding-left: 1em;
}

a[href*="//"] {
  padding-right: 16px;
  margin-right: 2px;
  background-image: url(/images/external-link.svg);
  background-repeat: no-repeat;
  background-position: center right;
}

a.footnote {
  text-decoration: none;
}
a.footnote::before {
  content: "[";
}
a.footnote::after {
  content: "]";
}

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.375em;
  line-height: 0;
}

sub { 
  top: 0.375em; 
}

[title] {
  text-decoration: underline dotted #000;
}

hr {
  margin: 1.5rem 0;
  border: 0;
  background-color: #ddd;
  height: 2px;
}

.final::after {
  margin-left: 0.25em;
  content: url(/images/m-icon.png);
  white-space: nowrap;
}

/*adapted from pure css*/
.pure-button {
    font-family: inherit;
    font-size: 100%;
    padding: .75em 1em;
    background-color: #fff0f0;
    text-decoration: none;
    border-radius: 2px;
    border: 1px solid #ffdad8;
}
.pure-button:focus, .pure-button:hover {
    background-color: #ffdad8;
}

.pure-table{border-collapse:collapse;border-spacing:0;empty-cells:show;border:1px solid #ffc7c4}.pure-table caption{color:#000;text-align:center}.pure-table td,.pure-table th{border-left:1px solid #ffc7c4;border-width:0 0 0 1px;font-size:inherit;margin:0;overflow:visible;padding:.75em .5em}.pure-table thead{background-color:#f2d5d3;color:#000;text-align:left;vertical-align:bottom}.pure-table td{background-color:transparent}.pure-table-odd td{background-color:#fff0f0}.pure-table-striped tr:nth-child(2n-1) td{background-color:#fff0f0}.pure-table-bordered td{border-bottom:1px solid #cbcbcb}.pure-table-bordered tbody>tr:last-child>td{border-bottom-width:0}.pure-table-horizontal td,.pure-table-horizontal th{border-width:0 0 1px 0;border-bottom:1px solid #ffc7c4}.pure-table-horizontal tbody>tr:last-child>td{border-bottom-width:0}

figure .pure-table {
  border-left-width: 0;
  border-right-width: 0;
  width: 100%;
}

.hatnote {
  background-color: #fff0f0;
  padding: 0.75rem 0.5em;
  margin: 0 -0.5rem;
  text-align: left;
}

@media(min-width: 600px) {
  body {
/*    font-size: 22px;
    line-height: 33px;
    max-width: 40em;*/

/*    border-width: 0 2px;
    border-style: solid;
    border-color: #ddd;*/
  }

  html {
    background-color: #fff0f0;
  }
}

@media(min-width: 1025px) {
  body {
    border-color: #ffc7c4;
    border-style: solid;
    border-width: 0 1px 1px 1px;
  }

  figure, .hatnote {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }

  .hatnote, body {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  main p {
    text-align: justify;
  }
}