body {
  font: 18px/27px "Alegreya Sans", Candara, Ubuntu, "Lucida Sans", "Lucida Grande", Tahoma, "Droid Sans", sans-serif;
  margin: 2em 0.5em;
  max-width: 32em /* 576 px */;
}

figcaption, small, blockquote, .caption {
  font-size: 15px;
  line-height: 21px;
}

figcaption, .caption {
  font-weight: 500;
}

blockquote {
  font-size: 90%;
}

blockquote.lead {
  font-size: 100%;
  line-height: unset;
  font-weight: normal;
}

html {
  display: flex;
  justify-content: space-around;
}

header, footer, main, nav {
  margin: 2em 0 1em 0;
}

footer {
  font-style: italic;
}

h1, h2, h3, h4, .byline {
  line-height: 1.2;
}

h1, h3 {
  font-family: "Titillium Web", "PT Sans", Ubuntu, DIN, Bahnschrift, "Lucida Sans", "Lucida Grande", Tahoma, "Droid Sans", sans-serif;
}

.author-info {
  font-weight: bold;
}

h1 {
  font-size: 100%;
  margin: -1em 0;
}

body.front-page h1 {
  margin: 1em 0;
  font-size: 200%;
}

h2 {
  margin: 1.5em 0 0.75em 0;
}

h4 {
  margin: 0.5em 0 0.25em 0;
}

p {
  hyphens: auto;
  hyphenate-limit-last: always;
}

li {
  margin: 0.5em 0 0.25em 0;
}

em em, cite cite {
  font-style: normal;
}

h1,
h1 a,
h1 a:link,
h1 a:visited {
  color: #d92120;
}

body.front-page h1 a {
  background: #ffb6c1;
}

*:target {
  animation: highlight 5s ease;  
}

@keyframes highlight {
  0% { background: #ffb6c1; }
  100% { background: rgba(0, 0, 0, 0); }
}

h2,
h3 {
  color: #003454;
}

a:link {
  color: #295e89;
}

figcaption,
small,
.author-info,
.caption {
  color: #980043;
}

.byline, .tags {
  color: #555555;
}

.byline p {
  margin: 0.25em 0;
}

.tags ul {
  display: inline;
  list-style: none;
  padding: 0;
  line-height: 0.6;
}

.tags li {
  display: inline-block;
}

.tags li::after {
  content: ", ";
}

.tags li:last-child::after {
  content: none;
}

p.lead {
  font-size: 115%;
  line-height: 1.7;
}

a:visited {
  color: #000;
}

a {
  text-decoration-thickness: 0.1em;
}

abbr,
.drop-cap,
.caps {
  font-family: "Alegreya Sans SC", "Alegreya Sans", Candara, Ubuntu, "Lucida Sans", "Lucida Grande", Tahoma, "Droid Sans", sans-serif;
}

html.wf-inactive abbr,
html.wf-inactive .drop-cap,
html.wf-inactive .caps {
  letter-spacing: 1pt;
  margin-right: -0.5pt;
  font-variant-caps: all-small-caps;
}

html.wf-active abbr, .caps {
  text-transform: lowercase;
}

.drop-cap__initial {
  display:block;
  float: left;
  text-transform: initial;
  margin: 0.25em 0.125em;
  font-size: 300%;
}

.breadcrumb li, summary {
  border: 1px solid #555555;
  border-radius: 8px;
  padding: 0.5em;
}

.breadcrumb ul {
  list-style: none;
  padding: 0;
  display: flex;
  /*flex-wrap: wrap;*/
}

.breadcrumb li {
  margin: 0 0.125em;

  flex-grow: 1;
  min-width: 25%;
}

.breadcrumb-article {
  margin-top: 2em;
}

summary {
  margin: 0;
  font-weight: bold;
}

summary h2, summary h3, summary h4 {
  display: inline-block;
  margin: 0.25em 0;
}

figure {
  margin: 2em 0 1.5em 0;
}

figure img, figcaption {
  margin: 1em 0 0.5em 0;
}

@media(max-width: 600px) {
  figure {
    margin-left: -0.5em !important;
    margin-right: -0.5em !important;
  }
  figcaption {
    padding: 0 0.5em;
  }
}

figure img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}

figcaption {
  text-align: right;
}

ul, ol {
  padding-left: 1em;
}

a[rel=external]::after, a.footnote {
  text-decoration: none;
}

a[rel=external]::after {
  content: "[↗]";
  font-size: 50%;
  display: inline-block;
}

a.footnote::before {
  content: "[";
}
a.footnote::after {
  content: "]";
}

sup, sub, a[rel=external]::after {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub { 
  top: 0.4em; 
}

.articles-list a {
  font-weight: bold;
}

.articles-list sup a {
  font-weight: normal;
}

/* https://css-tricks.com/examples/hrs/ */ 
hr {
  margin: 2em 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.final::after {
  margin-left: 0.25em;
  content: url(/images/m-icon.png);
  white-space: nowrap;
}